[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dtp"]
	path = dtp
	url = https://github.com/cran/dtp
[submodule "dynpanel"]
	path = dynpanel
	url = https://github.com/zedtaha/dynpanel
[submodule "nardl"]
	path = nardl
	url = https://github.com/zedtaha/nardl
